# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env/

# Ignore uploads and zip files
uploads/
*.zip

# Ignore dependencies (if this refers to a specific directory)
dependencies/